@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #222; 
    position: relative;
    line-height: 1;
    background-color: #000;
    // min-width: 767px;
}
$mobile :767px;
$tablet : 1024px;
$desktop: 1920px;
.blind{
    position: absolute;   
    width: 1px;height: 1px;
    overflow: hidden;
    // clip: rect(0 0 0 0);
    margin: -1px;
}
.inner{
    padding: 0 10vw;
    box-sizing: border-box;
}
.cursor{
    position: fixed;
    width: 50px;height: 50px;
    z-index: 100;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);
   div{
    position: absolute;
    top: 50%;left: 50%;transform: translate(-50%, -50%);
    color:#fff;
    font-size: 12px;
    font-weight: 300;
   }
}

.link_item{
    border:1px solid #000;
    padding: 1rem 1.8rem;box-sizing: border-box;
    font-size: clamp(12px ,1vw, 15px);
    font-weight: 300;
    display: inline-block;
    backdrop-filter: blur(10px);
    &.on{
        transition: all .5s ease;
        background-color: rgba(0, 0, 0);
        color:#fff
    }
    @media(max-width:767px){
        padding: 3vw 8vw;;
    }

}








